node_modules
*.js
*min.css
assets/fa
assets/*.json
layouts/_default/_markup
layouts/partials/breadcrumb.html
layouts/partials/social.html
layouts/partials/menu-filetree.html
layouts/partials/menu-hugo.html
layouts/shortcodes/button.html
layouts/shortcodes/details.html
layouts/shortcodes/katex.html
layouts/shortcodes/tabs.html
layouts/shortcodes/icon.html
layouts/shortcodes/mermaid.html
