<!DOCTYPE html>
<html
  lang="{{ .Site.Language.Lang }}"
  dir="{{ .Site.Language.LanguageDirection }}"
>
  <head>
    {{ partial "html-head" . }}
    {{ partial "inject/head" . }}
  </head>

  <body dir="{{ .Site.Language.LanguageDirection }}" class="preload">
    {{ template "navbar" . }}

    {{ template "main" . }}

    {{ template "site-footer" . }}

    {{ partial "inject/body" . }}
  </body>
</html>

<!-- Aris start -->

{{ define "navbar" }}
  {{ partial "navbar" . }}
{{ end }}

{{ define "main" }}
  <main class="">
    <div class="container">
      {{ partial "breadcrumb" . }}
    </div>

    <div class="container">
      {{ template "aside-a" . }}
      {{ template "page-content" . }}
      {{ template "aside-b" . }}
    </div>
  </main>
{{ end }}

{{ define "aside-a" }}{{ end }}

{{ define "aside-b" }}
  <aside id="aside-b">
    {{ template "page-toc" . }}
  </aside>
{{ end }}

{{ define "page-content" }}
  <div class="page-content">
    {{ template "main-content" . }}
    {{ template "git-info" . }}
    {{ partial "nav-prev-next" . }}
  </div>
{{ end }}

<!-- Aris end -->

{{ define "menu" }}
  {{ partial "menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "header" . }}

  {{ if default true (default .Site.Params.NewDocsToC .Params.NewDocsToC) }}
    <aside class="hidden clearfix">
      {{ template "toc" . }}
    </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}

{{ define "git-info" }}
  {{ partial "git-info" . }}
{{ end }}

{{ define "site-footer" }}
  {{ partial "site-footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.NewDocsComments .Params.NewDocsComments)) }}
    <div class="newdocs-comments">
      {{- partial "comments" . -}}
    </div>
  {{ end }}
{{ end }}

{{ define "main-content" }}
  <article class="markdown">
    <!-- <div class="body"> -->
    <h1>{{ .Title }}</h1>
    {{ partial "post-meta" . }}
    {{- .Content -}}
    <!-- </div> -->
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "toc" . }}
{{ end }}

{{ define "page-toc" }}
  <section class="toc">
    <input type="checkbox" class="hidden toggle" id="toc-control" />
    <label class="toggle" for="toc-control" id="toc-check">
      <h3>
        {{ i18n "page-toc" }}
        <svg class="icon" id="toc-icon">
          <use xlink:href="/icons/bootstrap-icons.svg#caret-down-fill" />
        </svg>
      </h3>
    </label>
    {{ template "toc" . }}
  </section>
{{ end }}
