.markdown {
  line-height: 1.6;
  padding-bottom: $as-lg;

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    border-bottom: solid 1px var(--body-background);
    color: var(--body-content);
    &:hover {
      border-color: var(--fbg-300);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: $as-md;
    padding-bottom: 0.5rem;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
      color: var(--accent-2);
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }

  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }

  b,
  optgroup,
  strong {
    font-weight: bold;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  p,
  ul,
  li,
  table,
  code {
    & a:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 0.1rem 0.5rem;
    background: var(--fbg-500);
    border-radius: 0.25rem;
    font-size: 0.875em;
  }

  & > .body > pre {
    background: var(--pre-bg) !important;
    code {
      display: block;
    }
  }

  pre {
    padding: $as-md;
    border-radius: $border-radius;
    overflow-x: auto;
    font-size: 0.875em;
    margin: 0;
    @media (prefers-color-scheme: light) {
      background: #{$color-deep} !important;
      color: white;
    }
    @media (prefers-color-scheme: dark) {
      background: var(--pre-bg) !important;
    }

    code {
      padding: 0;
      background: none;
      color: #{$color-light};
      font-size: unset;
    }
  }

  .mermaid {
    background: white;
    border-radius: $as-sm;
  }

  blockquote {
    margin: $as-md 0;
    padding: $as-xs $as-md $as-xs ($as-md - $as-xxs); //to keep total left space 16dp
    border: 1px solid var(--fbg-200);
    @extend .rounded-xs;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    margin-top: $as-lg;
    margin-bottom: $as-lg;

    thead {
      overflow: hidden;
      tr {
        background: var(--fbg-300);
        &:hover {
          background: var(--fbg-300);
        }

        &,
        strong,
        & th {
          font-weight: 500;
        }
        th {
          text-align: left;
        }
      }
    }

    tr th,
    tr td {
      padding: $as-sm $as-xs;
      // border: 1px solid var(--fbg-300);
    }

    tr {
      background: var(--body-background);
      &:hover {
        background: var(--fbg-100);
      }

      td {
        border-bottom: solid 1px var(--fbg-300);
        &:first-child {
          border-left: solid 1px var(--fbg-300);
        }
        &:last-child {
          border-right: solid 1px var(--fbg-300);
        }
      }
    }

    tr:first-child {
      th {
        border-top: solid 1px var(--fbg-300);
        &:first-child {
          border-top-left-radius: $as-xs;
          border-left: solid 1px var(--fbg-300);
        }
        &:last-child {
          border-top-right-radius: $as-xs;
          border-right: solid 1px var(--fbg-300);
        }
      }
    }
    tr:last-child {
      td {
        border-bottom: solid 1px var(--fbg-300);
        &:first-child {
          border-bottom-left-radius: $as-xs;
          border-left: solid 1px var(--fbg-300);
        }
        &:last-child {
          border-bottom-right-radius: $as-xs;
          border-right: solid 1px var(--fbg-300);
        }
      }
    }

    tr:nth-child(2n) {
      // background: var(--fbg-200);
    }
  }

  hr {
    height: $as-1;
    border: none;
    background: var(--fbg-200);
    margin: 0 auto;
    margin-top: $as-lg;
    width: 60%;
    height: 1px;
    @media (prefers-color-scheme: light) {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
      );
    }
    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
  }

  ul,
  ol {
    padding-inline-start: $as-md * 2;
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $as-md;
    }

    dd {
      margin-inline-start: $as-md;
      margin-bottom: $as-md;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }
    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  figure {
    margin: $as-md 0;
    figcaption p {
      margin-top: 0;
    }
  }

  .highlight {
    border-radius: $border-radius;
    overflow: hidden;
    & > div {
      @media (prefers-color-scheme: light) {
        background-color: #{$color-deep} !important;
      }
      @media (prefers-color-scheme: dark) {
        background-color: var(--pre-bg) !important;
      }
    }
  }
}

.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
