.markdown {
  line-height: 1.6;
  padding-bottom: $as-lg;

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  > h1, > h2, > h3, > h4, > h5, >h6 {
    border-bottom: solid 1px var(--body-background);
    color: var(--body-content);
    &:hover {
      border-color: var(--fbg-300);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1;
    margin-top: 1.5em;
    margin-bottom: $padding-16;
    padding-bottom: 0.5rem;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
      color: var(--accent-2);
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }

  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }

  b,
  optgroup,
  strong {
    font-weight: bold;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  p, ul, li, table, code {
    & a:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 0.1rem 0.5rem;
    background: var(--fbg-500);
    border-radius: 0.25rem;
    font-size: 0.875em;
  }

  & > .body > pre {
    background: var(--pre-bg) !important;
    code {
      display: block;
    }
  }

  pre {
    padding: $padding-16;
    border-radius: $border-radius;
    overflow-x: auto;
    font-size: 0.875em;
    margin: 0;
    @media (prefers-color-scheme: light) {
      background: #{$color-deep} !important;
      color: white;
    }
    @media (prefers-color-scheme: dark) {
      background: var(--pre-bg) !important;
    }

    code {
      padding: 0;
      background: none;
      color: #{$color-light};
      font-size: unset;
    }
  }

  .mermaid {
    background: white;
    border-radius: $as-sm;
  }



  blockquote {
    margin: $padding-16 0;
    padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

    border: $as-xxs solid var(--fbg-200);
    @extend .rounded-sm;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $as-lg;
    margin-bottom: $as-lg;
    

    thead {
      
      overflow: hidden;
      tr {
        background: var(--fbg-200);
        &, strong {
          font-weight: 600;
        }
      }
    }

    tr th,
    tr td {
      padding: $as-sm;
      border: 1px solid var(--fbg-300);
      
    }

    tr {
      background: var(--fbg-100);
    }

    tr:nth-child(2n) {
      background: var(--fbg-200);
    }
  }

  hr {
    height: $padding-1;
    border: none;
    background: var(--fbg-200);
    margin: 0 auto;
    margin-top: $as-lg;
    width: 60%;
    height: 1px;
    @media (prefers-color-scheme: light) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
  }

  ul,
  ol {
    padding-inline-start: $padding-16 * 2;
  }

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: $padding-16;
      margin-bottom: $padding-16;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }
    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  details {
    margin: $as-sm 0;
    padding: $as-sm;
    border: $padding-1 solid var(--fbg-300);
    border-radius: $border-radius;

    summary {
      line-height: 1;
      padding: $padding-16;
      margin: -$padding-16;
      cursor: pointer;
    }

    &[open] summary {
      margin-bottom: 0;
    }
  }

  figure {
    margin: $padding-16 0;
    figcaption p {
      margin-top: 0;
    }
  }

  .highlight {
    border-radius: $border-radius;
    overflow: hidden;
    & > div {
      @media (prefers-color-scheme: light) {
        background-color: #{$color-deep} !important;
      }
      @media (prefers-color-scheme: dark) {
        background-color: var(--pre-bg) !important;
      }
    }
  }
}

.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
