.markdown {

  // {{< tabs >}}
  .newdocs-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;
    border: $padding-1 solid var(--fbg-300);
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $as-xs $as-md;
      margin: $as-xs;
      background: transparent;
      cursor: pointer;
      @extend .rounded-xs;
      &:hover {
        background: var(--fbg-300);
      }
    }

    .newdocs-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      border-top: $padding-1 solid var(--fbg-300);
      padding: $padding-16;
      display: none;
    }

    input[type="radio"]:checked + label {
      background: var(--fbg-500);
    }
    input[type="radio"]:checked + label + .newdocs-tabs-content {
      display: block;
    }
    input[type="radio"]:focus + label {
      @include outline;
    }
  }

  // {{< columns >}}
  .newdocs-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    > div {
      margin: $padding-16 0;
      min-width: $body-min-width / 1.3;
      padding: 0 $padding-16;
    }
  }

  // {{< button >}}
  a.newdocs-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: var(--color-link);
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid var(--color-link);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .newdocs-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: rgba($color, 0.2);
        background-color: rgba($color, 0.2);
        & a:link {
          color: $color;
        }
      }
    }
  }

  // {{< section-list >}}
  dl.list-block {
    dt a {
      display: block;
      border: $padding-1 solid var(--gray-200);
      border-radius: $border-radius;
      padding: $as-sm;
      &:hover {
        color: var(--color-link);
        @extend .box-shadow;
        background: var(--fbg-200);
      }
      h4, & p {
        margin: $as-xs 0;
      }
      p {
        color: var(--body-content) !important;
        font-weight: normal;
      }
    }
  }
}
