{{ if and .GitInfo .Site.Params.NewDocsRepo }}
  <section class="git-info">
    {{- $date := partial "date" (dict "Date" .GitInfo.AuthorDate.Local "Format" .Site.Params.NewDocsDateFormat) -}}
    <div
      class="item info"
      title="{{ i18n "git-last-edited-by" }} {{ .GitInfo.AuthorName }} | {{ $date }} @{{ .GitInfo.AbbreviatedHash }}"
    >
      <strong>{{ .Page.Title }}</strong>
      {{ i18n "git-last-edited-on" }} {{ $date }}
      <a
        href="{{ .Site.Params.NewDocsRepo }}/commit/{{ .GitInfo.Hash }}"
        title="{{ i18n "git-view-commit" }}"
        target="_blank"
        rel="noopener"
        >@{{ .GitInfo.AbbreviatedHash }}</a
      >
      : {{ .GitInfo.Subject }}
    </div>

    {{ if or .File .Site.Params.NewDocsRepo .Site.Params.NewDocsViewPath }}
      <div class="item links">
        {{ if .Site.Params.NewDocsViewPath }}
          <a
            href="{{ .Site.Params.NewDocsRepo }}/{{ .Site.Params.NewDocsViewPath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}"
            target="_blank"
            title="{{ .Page.Title }} {{ i18n "git-source" }}"
            rel="noopener"
            ><i class="nf nf-fa-code"></i> {{ i18n "git-source" }}</a
          >
        {{ end }}
        {{ if .Site.Params.NewDocsEditPath }}
          <a
            href="{{ .Site.Params.NewDocsRepo }}/{{ .Site.Params.NewDocsEditPath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}"
            title="{{ i18n "git-edit" }} {{ .Page.Title }}"
            target="_blank"
            rel="noopener"
            ><i class="nf nf-fa-edit"></i> {{ i18n "git-edit" }}</a
          >
        {{ end }}
      </div>
    {{ end }}
  </section>
{{ end }}
