{{ if and .GitInfo .Site.Params.NewDocsRepo }}
<section class="git-info">
    {{- $date := partial "date" (dict "Date" .GitInfo.AuthorDate.Local "Format" .Site.Params.NewDocsDateFormat) -}}
    <a href="{{ .Site.Params.NewDocsRepo }}/commit/{{ .GitInfo.Hash }}" title='{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}' target="_blank" rel="noopener">
      <span>{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} </span>
    </a>

    <a href="{{ .Site.Params.NewDocsRepo }}/commit/{{ .GitInfo.Hash }}" title='{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}' target="_blank" rel="noopener">
      <span>{{ i18n "Last modified on" }} {{ $date }} </span>
    </a>
{{ end }}

{{ if and .File .Site.Params.NewDocsRepo .Site.Params.NewDocsEditPath }}
    <a href="{{ .Site.Params.NewDocsRepo }}/{{ .Site.Params.NewDocsEditPath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener">
      <span>{{ i18n "Edit this page" }}</span>
    </a>
</section> 
{{ end }}