<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "html-head" . }}
    {{ partial "inject/head" . }}

    <style>
      .not-found {
        text-align: center;
      }
      .not-found h1 {
        margin: 0.25em 0 0 0;
        opacity: 0.25;
        font-size: 40vmin;
      }
    </style>
  </head>

  <body>
    <main class="flex justify-center not-found">
      <div>
        <h1>404</h1>
        <h2>{{ i18n "Page Not Found" }}</h2>
        <h3>
          <a href="{{ .Site.Home.RelPermalink }}"
            >{{ i18n "Back to" }} {{ .Site.Title }}</a
          >
        </h3>
      </div>
    </main>

    {{ partial "inject/body" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
